#alert{
    position: fixed;
    z-index: 9999;
    right: 300px;
    top: 100px;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.todo-done{
    text-decoration: line-through;
}